//置中
//@include middle;

//文字
//@include font(16px,22px,400);

//圓弧按鈕
//@include ballBtn(15px,#FFF,transparent);

//圖片
//@include img;

//container
//@include container;

//置中
@mixin middle{
  display: flex;
  justify-content: center;
}
//@include middle;

//文字
@mixin font ($size, $lineHight,$weight){
  font-size: $size;
  line-height: $lineHight;
  font-weight: $weight;
}
//@include font(16px,22px,400);

//圓弧按鈕
@mixin ballBtn($size,$txt-color,$color) {
  padding: $size;
  color: $txt-color;
  background: $color;
  border-radius: 999px;
}
//@include font(15px,#FFF,transparent);


// 圖片
@mixin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
//@include img;

// container 
@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
//@include container;


// 背景置中
@mixin bg-cover {
  background-size: cover;
  background-position: center center;
}

// 圖片取代文字
@mixin over-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}


// 圓球
@mixin ball($size, $color) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $color;
}


//刪除線
@mixin text-decoration-line-through {
  text-decoration: line-through;
}


// RWD
@mixin phone {
  @media (min-width: 375px) {
    @content;
  }
}
@mixin rwd-376-413 {
  @media (min-width: 376px) and (max-width: 413px) {
    @content;
  }
}

@mixin phonePlus {
  @media (min-width: 414px) {
    @content;
  }
}

@mixin rwd-415-767 {
  @media (min-width: 415px) and (max-width: 767px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin rwd-769-995 {
  @media (min-width: 769px) and (max-width: 995px) {
    @content;
  }
}

@mixin padPro {
  @media (min-width: 996px) {
    @content;
  }
}
